*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    font-size: 62.5%;
    direction: rtl;
}

:root{
    --main-white: #fff;
    --main-gray: #ccc;
    --main-dark: #000;
    --dark-primary: #262626;
    --white-primary: #f6f6f6;
    --main-purple: #6d28d9;
    --main-red: #B91C1C;
    --secondary-purple: #E9D5FF;
    --main-bgc: #334155;
    --main-color: #0F172A;
    --main-green: #22C55E;
}