.navSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.balanceCounter{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-purple);
}

.btnAdd {
    background-color: var(--main-color);
    color: var(--secondary-purple);
    border: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.btnRemove{
    background-color: var(--main-bgc);
    color: var(--main-red);
    border: 1px solid var(--main-red);
}

.containerBox{
    width: 100%;
    background-color: var(--main-color);
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 2px var(--main-gray);
}

.box{
    width: 45%;
    padding: 1rem;
    background-color: var(--main-bgc);
    box-shadow: 0 0 3px var(--main-gray);
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    color: var(--secondary-purple);
}

.headBox{
    font-size: 2rem;
    font-weight: lighter;
}

.spanBox{
    font-size: 2rem;
}

.ExpenseCount {
    color: var(--main-red);
}

.IncomeCount {
    color: var(--main-green);
}
